@import "tailwindcss";

@theme {
    --color-off_white: #f5f5f5;
    --color-delft_blue: #1D2F6F;
    --color-vista_blue: #8390FA;
    --color-saffron: #FAC748;
    --color-black_mamba: #3E4144;
}

body{
    @apply bg-off_white relative;
}

.container{
    @apply max-w-5xl mx-auto px-5 text-delft_blue;
}

.bg-blur{
    @apply bg-white/30 backdrop-blur-2xl;
}

.btn{
    @apply py-2 px-4 rounded;
}

.btn-primary{
    @apply bg-vista.blue hover:bg-delft.blue text-delft.blue hover:text-vista.blue font-bold 
}

.heading{
    background: linear-gradient(180deg, #1D2F6F 0%, rgba(125, 206, 175, 1) 189%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}